In [2]:
from Set import add_set, delete_set, get_all_sets

In [8]:
# Get all sets
print(get_all_sets())

[5698, 40539, 52333, 75292]

In [ ]:
import sqlite3

# Connect to database
conn = sqlite3.connect('./database/database.db')
c = conn.cursor()

conn.commit()

# Close connection
conn.close()